@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    font-family: 'Oswald';
    background-color: #2C2D30;


}

.LanderSection1{
    margin-left: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
}

.LS1text{
    text-align: center;
}
.section1{
    
    
}
.titleh1{

    color: #FBFBF2;
    font-size: 50px;
    text-align: center;
}
.paragraph1{
    color: white;
    text-align: center;

}
.section2{
    margin-top: 50px;
    text-align: center;
}
.title1{
    color: white;
    font-size: 25px;

}
.LanderSection2{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    justify-content: center;
}
